/.metadata/
/tareasNode/node_modules
/controllerNode/node_modules
/.sonarlint
.sonarlint
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gestionDeTareas.iml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
