doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", type="text/css", href="/css/style.css")
    body

      form#fomularioRegistroTarea(action='/modificar', method='post')
        p
          | Nuevo nombre tarea:
          br
          input#titulo(type='text', name='titulo', size='40', placeholder= ${tarea.titulo})
        p
          | Fecha fin de tarea
          br
          input#fechaFin(type='date', name='fechaFin', value='2024-05-07', min='2024-05-07', max='2025-05-07')
        p
          | Nueva descripción de tarea:
          br
          textarea#descripcion(name='descripcion', rows='10', cols='50', placeholder='Especifica la nueva descripción')
        p
          button(type='submit') Enviar tarea