doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", type="text/css", href="/css/style.css")
    body

      form#fomularioRegistroTarea(action='/update', method='post')
        p
          |  Título de nueva tarea
          br
          input#titulo(type='text', name='titulo', size='40', placeholder= tarea.titulo)
        p
          | Fecha fin de tarea
          br
          input#fechaFin(type='date', name='fechaFin', value= tarea.fechaFin, min='2024-05-07', max='2025-05-07')
        p
          | Nueva descripción de tarea:
          br
          textarea#descripcion(name='descripcion', rows='10', cols='50', placeholder= tarea.descripcion)
        p
          | Finalizada:
          br
          input#finalizada(type='checkbox', name='finalizada', checked=tarea.finalizada)
        p
          input(type='hidden', name='id', value=tarea.id)
         
          button(type='submit') Enviar tarea