doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", type="text/css", href="/css/style.css")
    body
      
    table 
      thead 
        tr 
          th Id 
          th Nombre 
          th Correo Eléctronico
          th Contraseña
      tbody  
        each usuario in lista
          tr 
            td= usuario.id
            td= usuario.nombre 
            td= usuario.email
            td= usuario.password

        script(src="app.js")